<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peanutwolf.googleappmonitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >

        </activity>

        <uses-permission android:name="android.permission.VIBRATE" />
        <!-- <receiver -->
        <!-- android:name=".AppReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED"/> -->
        <!-- <action android:name="android.intent.action.AIRPLANE_MODE"/> -->
        <!-- <data android:scheme="package"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".DynamicPlotXY"
            android:label="@string/title_activity_dynamic_plot_xy"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
